<div class="<%= className %>">
    <div class="<%= className %>__wrapper">
        <h2 class="<%= className %>__header">Loan Review</h2>
    </div>

    <form name="$ctrl.form">
        <% schema.forEach(function(item) { %>
        <div class="<%= className %>__<%= item.kebabCase %>-wrapper">
            <input class="<%= className %>__<%= item.kebabCase %>-field" type="text" name="<%= item.kebabCase %>" ng-model="$ctrl.form.<%= item.lowerCamelCase %>" required />
        </div>
        <% }) %>
    </form>

</div>
